.topTable{
  width: 100%;
  background-color: black;
  border-width: medium;
  border-color: grey;
}

.table1 {
  border-width: medium;
  border-color: grey;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: black;
}

.label {
  color: grey;
  font-size: x-large;
}

.monitor {
  font-size: x-large;
  padding: 0px 10px 0px 10px;
}

.qtBorder {
  color: grey;
  font-size: x-large;
  border-width: thick;
}

.qtLabel {
  color: grey; 
  font-size: x-large;
}

.statusMon{
  color: grey;
  font-size: x-large;
  padding: 1px 2px 1px 2px;
}

.notYet{
  background-color: #d3d3d3;
  color: grey;
  font-size: x-large;
  width: 20%;
  padding: 1px 10px 1px 10px;
}

.table2 {
  border-width: medium;
  border-color: grey;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: black;
  color: black;
}

.ph{
  color: black;
  font-size: x-large;
}

.table3 {
  border-width: medium;
  border-color: grey;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: black;
}

.bottomRow{
  width: 100%;
  background-color: black;

}
